
.block {
    background: #eee;
    width: 50%;
    font-size: 28px;
    min-height: 150px;
}

.block:nth-child(odd) {
    width: 75%;
}
#block3.block{
    font-size: 16px;
}
h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

.block:hover{
    font-size: 56px;
}

#block3.block:hover{
    font-size: 32px;

